{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-light" style="background-color: #5cb85c;">
    <div class="container-fluid">
        <a class="navbar-brand">Welcome {{username}}</a>
        <form class="d-flex">
            <a class="btn btn-primary" style="background-color: #dc3545" type="submit" href="/adminlogout/">Logout</a>
        </form>
    </div>
</nav>
<h1 style="text-align: center; margin-top: 50px;">All Orders</h1>
{% for order in orders %}
<div class=" alert alert-warning" role="alert" style="margin: 50px;">
    <p>{{order.username}}</p>
    <p>{{order.address}}</p>
    <p>{{order.ordereditems}}</p>
    <p>order status: {{order.status}}</p>
    <a class="btn btn-success" style="display: inline;" href="/acceptorder/{{order.id}}/">Accept</a>
    <a class="btn btn-danger" style="display: inline;" href="/declineorder/{{order.id}}/">Decline</a>
</div>
{% endfor %}
{% endblock %}