{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-md navbar-light fixed-top main-menu" style="background-color: #5cb85c;">
    <a class="navbar-brand order-md-last order-0" href="#" style="font-size: 175%; color: white;">Welcome 🙏 to Pizza
        Palace 🍕</a>
    <button aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#mainNav"
            data-toggle="collapse"
            type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="mainNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item homeLink">
                <a class="nav-link" href="/">
                    <span aria-hidden="true" class="fa fa-spacer-right fa-home"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid"
     style="position: relative; height: 990px; background-size: cover; background-image: url({% static 'pizzaapp/pizza.gif' %});">
    <div class="container container-md"
         style="position: absolute; right: 80px; top: 100px; width: 400px; height: 700px; background-color: #5cb85c; margin-top: 50px; border-radius: 25px;">
        <div style="padding: 20px; width:300px; background-color: #006400; display: block; margin: auto; margin-top: 100px; border-radius: 25px;">
            <h1 style="color: white; text-align: center; margin-bottom: 40px"> Signup </h1>
            <form action="/signupuser/" method="post">
                {% csrf_token %}
                <input class="form-control" name="username"
                       placeholder="username" type="text">
                <input class="form-control" name="password" placeholder="password"
                       style="margin-top: 15px; margin-bottom: 20px" type="password">
                <input class="form-control" name="phone" placeholder="phone number"
                       style="margin-top: 15px; margin-bottom: 20px" type="password">
                <div style="text-align: center;">
                    <input type="submit" class="btn btn-danger" value="-> Register">
                </div>
            </form>
            <hr , , color=black size="10" style="width:100%">
            <div style="text-align: center;">
                <button class="btn btn-primary" type="button">
                    <svg class="bi bi-arrow-right-square-fill" fill="white" height="16" viewBox="0 0 16 16"
                         width="16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"></path>
                    </svg>
                    <a href="/loginuser/" style="color: white; text-decoration: none;">&nbsp;Login</a>
                </button>
            </div>
            <hr , , color=black size="10" style="width:100%">
            <div style="text-align: center;">
                <button class="btn btn-dark" type="button">
                    <svg class="bi bi-arrow-right-square-fill" fill="white" height="16" viewBox="0 0 16 16"
                         width="16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"></path>
                    </svg>
                    <a href="/admin/" style="color: white; text-decoration: none;">&nbsp;Admin</a>
                </button>
            </div>

        </div>
        {% for message in messages %}
        <h3 style="text-align: center; color: red; margin-top: 40px;">{{message}}</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}